<p id="notice"><%= notice %></p>

<h1>Editing filled_form</h1>

  <%= form_for([@form_template, @filled_form]) do |f| %>
    <%= raw(@prefilled_ror_contents) %>
  	<div class="actions">
      <%= f.submit %>
  	</div>
  <% end %>

<%= link_to 'Back', form_templates_path %>
<br />
<br />
