<h1>Listing filled_forms</h1>

<table>
  <tr>
    <th>Contents</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filled_forms.each do |filled_form| %>
  <tr>
    <td><%= filled_form.contents %></td>
    <td><%= filled_form.notes %></td>
    <td><%= link_to 'Show', filled_form %></td>
    <td><%= link_to 'Edit', edit_filled_form_path(filled_form) %></td>
    <td><%= link_to 'Destroy', filled_form, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filled form', new_filled_form_path %>
