<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @form_template.name %>
</p>

<p>
  <b>Description:</b>
  <%= @form_template.description %>

  <%= form_for([@form_template, @filled_form]) do |f| %>
    <%= raw(@form_template.contents) %>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
  <% end %>

</p>


<%= link_to 'Back', form_templates_path %>
