<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TemplateManager</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="user_interface" class="<%= params[:controller] %>">
<div id="container" class="container">
  <header>
    <nav>
      <ul class="hmenu">
        <div id="general-navigation">
          <li>
            <%= link_to 'Home', form_templates_path %>
          </li>
          <li>
            <%= link_to 'Admin Area', '/admin' %>
          </li>
        </div>

        <div id="authentication">
          <%= render 'shared/authentication' %>
        </div>
      </ul>
    </nav>
  </header>

  <div id="columns">
    <div id="main" role="main">
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <%= yield %>
    </div>
    <div id="right-side">
      <div id="user_filled_forms">
        <%= render :partial => "shared/user_filled_forms" %>
      </div>
    </div>
  </div>


  <footer>
  </footer>
</div>
<!--! end of #container -->
</body>
</html>
