<!DOCTYPE html>
<html>
<head>
  <title>TemplateManager</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="columns">
  <div id="side">
    <div id="user_filled_forms">
      <%= render :partial => "shared/user_filled_forms" %>
    </div>
    <a href="http://www....">Home</a><br/>
    <a href="http://www..../contact">Contact</a><br/>
    <a href="http://www..../contact">Admin Area</a><br/>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
